<header>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a class="brand-logo">My Awesome Project</a>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container">

    <h1>Todo List</h1>

    <div class="row">
      <form #todoForm="ngForm" class="col s12" novalidate>
        <div class="row">
          <div class="input-field col s6">
            <input id="todo-item" name="todo-item" type="text" class="validate" [(ngModel)]="taskValue" required>
            <label for="todo-item">New Task</label>
          </div>
          <div class="col s6">
            <button class="btn waves-effect waves-light" [disabled]="todoForm.invalid" (click)="saveTask()">Save
              task</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Tasks</th>
          </tr>
        </thead>

        <tbody>
          <!-- All tasks are iterated and placed here -->
          <tr *ngFor="let task of tasks$ | async">
            <td>{{task.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright
    </div>
  </div>
</footer>
